services/frontend/.DS_Store
services/frontend/node_modules
services/frontend/dist
services/backend/.vs
services/backend/src/migrations/versions/*

# local env files
.env.test
.env.local
.env.*.local
.env
.venv

# Log files
services/frontend/npm-debug.log*
services/frontend/yarn-debug.log*
services/frontend/yarn-error.log*
services/frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__